/* Promo Section */
  .promo-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  .promo-image {
    flex: 1 1 50%;
    max-width: 100%;
  }
  .promo-image img {
    width: 100%;
    height: 100%;
    object-fit: auto;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .promo-section {
      flex-direction: column;
    }
    .promo-image,
    .promo-text {
      max-width: 100%;
      flex: 1 1 100%;
    }
    
  }
  