.feedback {
    margin: 60px auto;
    padding: 100px 5%;
    text-align: center;
}

.feedback h2 {
    font-size: 48px;
    margin-bottom: 30px;

}

.feedback-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feedback-card {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: left;
    flex: 1;
}

.feedback-stars {
    color: #ffc107;
    margin-bottom: 10px;
    padding: 20px;
}

.feedback-text {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 20px;
}

.feedback-author {
    display: flex;
    align-items: center;
    padding: 20px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info h4 {
    font-size: 16px;
}

.author-role {
    font-size: 12px;
    color: #777;
}
@media (max-width: 1024px) {
    .feedback h2 {
        font-size: 26px;
    }
}
@media (max-width: 480px) {
    .feedback h2 {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
   
    .feedback-grid {
        flex-wrap: wrap;
    }

    .feedback-card {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {

    .feedback h2 {
        font-size: 30px;
    }

    .feedback-grid {
        flex-direction: column;
    }

    .feedback-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {

    .feedback h2 {
        font-size: 24px;
    }

    .footer .footer-logo-text {
        font-size: 18px;
    }

    .footer .footer-description-text {
        font-size: 14px;
    }

    .footer .footer-links-section-title {
        font-size: 16px;
    }
}