.products {
    margin: 60px auto;
    padding: 0 5%;
}

.products h2 {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
}

.products .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    place-items: center;
}
.products .product-head{
    font-size: 32px;
    text-align: center;
    margin-bottom: 100px;
}
.products .product-box {
    margin-bottom: 30px;
}

.products .product-img  {
    width: 429px;
    height: 419px;
    overflow: hidden;
    margin-bottom: 10px;
}

.products .product-img  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products .product-head {
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
}
.products .products-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
}

.products .products-stars {
    color: #ffc107;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}

.products .products-price{
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

@media (max-width: 992px) {
    .products .product-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
@media (max-width: 768px){    
    .products .product-grid {
        grid-template-columns: 1fr;
    }
    
}


@media (max-width: 1200px) {
    .products .product-img  {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .products .product-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .products .products-title {
        font-size: 24px;
    }
    .products .product-head {
        font-size: 24px;
    }

    .products .products-stars,
    .products .products-price{
        font-size: 20px;
    }

}

@media (max-width: 992px) {
   
    .products .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    
    .products h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .products .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .products .product-head {
        font-size: 18px;
    }
    .products .products-title {
        font-size: 18px;
    }
    .products .products-stars,
    .products-price{
        font-size: 16px;
    }
}